[Unit]
Description=KADaP DCV monitor
StartLimitIntervalSec=5 
StartLimitBurst=10

[Service]
TYpe=idle
User=kadap
Group=kadap
WorkingDirectory=/home/kadap
ExecStart=sudo /home/kadap/.dcv/dcv-monitor.sh
Restart=always

[Install]
WantedBy=multi-user.target
