[Unit]
Description=KADaP DCV monitor

[Service]
User=kadap
Group=kadap
WorkingDirectory=/home/kadap
ExecStart=/bin/bash /home/kadap/.dcv/dcv-monitor.sh
Restart=always
StartLimitIntervalSec=0 
StartLimitBurst=5000

[Install]
WantedBy=multi-user.target
